#newsletter 
    display: grid
    grid-template-columns: 25% auto 25%
    
    .newsletter-content 
        background-color: $white
        grid-column: 2 / 3
        height: 210px
        display: grid
        grid-template-columns: 70% 30%
        grid-template-rows: 70px 70px 70px
        padding: 0 75px 0 96px
        border-radius: 15px
        filter: drop-shadow(0px 0px 1px #e0e0e0)
        transform: translateY(50%)
        h1
            grid-row: 1 / 2
            grid-column: 1 / 2
            font-family: $font-stack-header
            font-weight: bold
            font-size: 26px
            align-self: center
            justify-self: left

        input
            grid-row: 2 / 3
            grid-column: 1 / 2
            height: 55px
            width: 90%
            border-radius: 50px
            border: 1px solid $input-border
            align-self: center
            justify-self: stretch
            padding-left: 20px
            transform: translateX(-4%)
        p
            grid-row: 3 / 4
            grid-column: 1 / 2
            font-size: 12px
            color: $light-fonts
            justify-self: left
            margin-top: 0

        button
            grid-row: 2 / 3
            grid-column: 2 / 3
            justify-self: end
            align-self: center
            width: 100%
